<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>944190991004-h33daiasft18or96kh07fvmtiisl5b6n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.944190991004-h33daiasft18or96kh07fvmtiisl5b6n</string>
	<key>API_KEY</key>
	<string>AIzaSyD16G_oXF3toBiNzUbm-arsBC1nzLrAHLE</string>
	<key>GCM_SENDER_ID</key>
	<string>944190991004</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.almamari</string>
	<key>PROJECT_ID</key>
	<string>almamari-f132d</string>
	<key>STORAGE_BUCKET</key>
	<string>almamari-f132d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:944190991004:ios:5bad1eb8e59cd6500c9b59</string>
</dict>
</plist>